@import "tailwindcss";

body {
  font-family: sans-serif;
  background-color: #f9f9fd;
  color: #323232;
  transition: all 0.3s ease;
}

html {
  scroll-behavior: smooth;
}

/* Dark Mode */
html.dark body {
  background: #0d0d0d; /* asosiy qora */
  background-image: linear-gradient(
    to right,
    rgba(60, 43, 0, 0.4) 0%,
    #0d0d0d 20%,
    #0d0d0d 80%,
    rgba(60, 43, 0, 0.4) 100%
  );

  color: white; /* text */
}

/* Navbar Dark Mode */
html.dark .navbar {
  background: #0d0d0d; /* asosiy qora */
  background-image: linear-gradient(
    to right,
    rgba(60, 43, 0, 0.4) 0%,
    #0d0d0d 20%,
    #0d0d0d 80%,
    rgba(60, 43, 0, 0.4) 100%
  );
}

html.dark .footer-top {
  background-color: #0d0d0d;
}

html.dark .footer-bottom {
  background-color: #533C01;
}

html.dark .boglan {
  background-color: #FFB21A;
  border-color: #FFB21A;
}
