@import "tailwindcss";

body {
  font-family: "Montserrat", sans-serif;
  background-color: #f9f9fd;
  color: #323232;
  transition: all 0.3s ease;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

html {
  scroll-behavior: smooth;
}

/* Dark Mode */
html.dark body {
  background: #0d0d0d; /* asosiy qora */
  background-image: linear-gradient(
    to right,
    rgba(60, 43, 0, 0.4) 0%,
    #0d0d0d 20%,
    #0d0d0d 80%,
    rgba(60, 43, 0, 0.4) 100%
  );
  color: white; /* text */
}

/* Navbar Dark Mode */
html.dark .navbar {
  background: #0d0d0d; /* asosiy qora */
  background-image: linear-gradient(
    to right,
    rgba(60, 43, 0, 0.4) 0%,
    #0d0d0d 20%,
    #0d0d0d 80%,
    rgba(60, 43, 0, 0.4) 100%
  );
}

html.dark .footer-top {
  background-color: #0d0d0d;
}

html.dark .footer-bottom {
  background-color: #533c01;
}

html.dark .boglan {
  background-color: #ffb21a;
  border-color: #ffb21a;
}

html.dark .cyber-qualification {
  background: linear-gradient(
    135deg,
    #533c01 0%,
    #0d0d0d 20%,
    #0d0d0d 80%,
    #533c01 100%
  ) !important;
}

html.dark .games-card {
  background: #000000 !important;
}

html.dark .games-btn {
  background: linear-gradient(
    270deg,
    rgba(255, 255, 255, 0.01) 0%,
    rgba(255, 178, 26, 0.08) 25%,
    rgba(198, 168, 107, 0.12) 37.5%,
    rgba(199, 166, 102, 0.08) 50%,
    rgba(255, 255, 255, 0.01) 100%
  );
}
